<!doctype html>

{% extends 'author/base.html' %}

{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="card" style="width: 50rem">
        <div class="card-body">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Authors you might like</th>
              </tr>
            </thead>

            <tbody>
                {% if user %}
                
                {% for result in items %}

              <tr>
                <td>
                  <p>{{ result.displayName }}</p>
                  </a>
                </td>
                {% endfor %}
              </tr>
              {% else %}

              <tr>
                <td>Hey! You Forgot To Search</td>
              </tr>

              {% endif %}
            </tbody>
          </table>
        </div>
    </div>
  </div>
</div>

{% endblock %}