{% extends './base.html' %}

{% block title %}
    Register
{% endblock %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-6">
    <div class="container py-5">
    <div class="card">
        <div class="card-body">
            <h2>Join Social Distribution</h2>
            <form method="POST" action="">
                {%csrf_token%}
                <div class="form-group">
                <label for="exampleInputEmail1">{{form.displayName.label}}</label><br/>
                {{form.displayName}}
                </div>
                <div class="form-group">
                <label for="exampleInputEmail1">{{form.username.label}}</label><br/>
                {{form.username}}
                </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Password</label><br/>
                {{form.password1}}
                </div>
                <div class="form-group">
                <label for="exampleInputEmail1">Retype password</label><br/>
                {{form.password2}}
                </div>

                <div class="form-group">
                <label for="exampleInputEmail1">Github</label><br/>
                {{form.github}}
                </div>

                {{form.errors}}
        
                <input type="submit" name = "Create Author" class = "btn btn-info btn-block mb-4">
            </form>
            <p class="text-center">If you already have an account, <a href={% url 'login_url' %}>login</a> instead.</p>
        </div>
        </div>
        </div>
    </div>
</div>

{% endblock %}