{% extends 'base.html' %}
{% block head_title%}
this is amazing
    {% endblock head_title%}
{% block content%}

<div class='row text-center'>
    <div class='col'>
        <h2> Welcome to the app</h2>
    </div>
</div>

<div class='row mb-3'>
    <div class='col-md-4 mx-auto col-10'>
      <form class='form' id='post-create-form' method='POST' action='/create-post'>
        {% csrf_token %}
        <input type='hidden' value='/' name='next' />
        <textarea required='required' class='form-control' name='content' placeholder='Your post...'></textarea>
        <button type='submit' class='btn btn-primary'>Post</button>
      </form>
    </div>
  </div>


<div class='row' id ='posts'>
    loading...
</div>

<script>
    function hanlePostFormSubmit(event){
        event.preventDefault()
        const myForm = event.target
        const myFormData = new FormData(myForm)
        const url = myForm.getAttribute("action")
        const method = myForm.getAttribute("method")
        const xhr = new XMLHttpRequest()
        xhr.open(method, url)
        xhr.onload = function(){
            const serverResponse = xhr.response
            const postsEl = document.getElementById('posts')
            LoadPosts(postsEl)
        }
        xhr.send(myFormData)
    }
    const postCreateFormEl = document.getElementById("post-create-form")
    postCreateFormEl.addEventListener("submit", handlePostCreateFormSubmit()

    const postsEl = document.getElementById('posts')

    function LoadPosts(postsElement){
        const xhr = new XMLHttpRequest();
        const method = 'GET' //POST
        const url = "/posts"
        const responseType = "json"
        xhr.responseType = responseType
        xhr.open(method, url)
        xhr.onload = function(){
            const serverResponse = xhr.response
            var listedItems = serverResponse.response
            var finalPostStr = ""
            var i;
            for (i=0; i<listenedItems.length; i++) {
                var postObj = listedItems[i]
                var currentItem = formatPostElement(postObj)
                finalPostStr += currentItem
            }
            postsElement.innerHTML = finalPostStr
        }
        xhr.send()
    }
    LoadPosts(postsEl)
    

    function handleLike (post_id, currentCount){
        console.log(post_id, currentCount)
    }
    function LikeBtn(post){
        return "<button class='btn btn-primary btn-sm' onclick=handleLike(" + 
        post.id + ", "+ post.likes + ")>" + post.likes + " Likes</button>"
    }
    function formatPostElement(post){
        var formattedPost = "<div class='col-10 border py-3 mb=4 post' id='post-" + post.id 
        +"'><p>" + post.content 
            + "</p><div class='btn-group'>" + LikeBtn(post) +
            "</div></div>"
        return formattedPost
    }
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function(){
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        var finalPostStr = ""
        var i;
        for (i=0; i<listenedItems.length; i++) {
            var postObj = listedItems[i]
            var currentItem = formatPostElement(postObj)
            finalPostStr += currentItem
        }
        postsElement.innerHTML = finalPostStr
 ]   }
    xhr.send()
</script>
{% endblock content%} 