<!DOCTYPE html>
<html>
<title>Social App {% block head_title%}
    {% endblock head_title%}</title>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#000000"/>
 
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        .bg-post {
            background-color: #8e1f1f!important;
        }
      </style>
</head>
<body>
    {% include "components/navbar.html" %}
    <div class= 'container'>
        {% block content%}
        {% endblock content%}
    </div>
</body>
</html>
