{% extends "base.html" %}

{% block title %}Edit a Post{% endblock %}


{% block content %}
{% if author.id == post.author.id %}
    <p>Editing the post {{post.id}}</p>


    <p>Change the following information of the current post</p><br>

    <form>
        Title: <input type="text" id="title" value=""> <br>
        Description: <input type="text" id="description" value=""> <br>
        categories: <input id="postcat" name="postcategories" value=""> <br>
    <form>

    <p>Choose if you want to list your post or not:</p>

    <form>
        <input type="radio" id="listed" name="listedstatus" value="listed">
        <label for="listed">LISTED</label><br>
        <input type="radio" id="notlisted" name="listedstatus" value="notlisted">
        <label for="notlisted">NOT LISTED</label><br>
    </form>

    <p>Choose the visibility of your post:</p>

    <form>
        <input type="radio" id="public" name="visibility" value="PUBLIC">
        <label for="public">PUBLIC</label><br>
        <input type="radio" id="friends" name="visibility" value="FRIENDS">
        <label for="friends">FRIENDS</label><br>
    </form>

    <p>Choose if content will be text or file:</p>

    <form>
        <input type="radio" id="textchoice" name="textorfile" value="text">
        <label for="text">Text</label><br>
        <input type="radio" id="filechoice" name="textorfile" value="file">
        <label for="file">File</label><br>
    </form>

    <p id="choosefiletext" hidden>Choose your file:</p>

    <input type="file" id="filecontent" hidden/>



    <p id="inputcontenttext" hidden>Input your post content:</p>

    <input type="text" id="textcontent" hidden>

    <button id="submitbutton" >Submit</button>

    <script>
        var post;
        var encode_Content;
        var content_isText;
        var postString;
        var AuthorUrl;
        var postUrl;
        var content;
        var chosenPost;
        fetch('http://127.0.0.1:8000'+'/authors/'+'{{post.author.id}}'+'/posts/'+'{{post.id}}/',{
                method: 'GET',
                headers: {
                    'Content-Type' : 'application/json',
                    'X-CSRFToken' : "{{ csrf_token }}"
                }

            })
            .then(function(response){
                return response.json();
            })
            .then(function(data){
                post=data.data;
            })
            .then(function(){
                document.getElementById("postcat").value= post.categories;
                document.getElementById("postcat").innerHTML= post.categories;
                document.getElementById("title").value = post.title;
                document.getElementById("title").innerHTML = post.title;
                document.getElementById("description").value= post.description;
                document.getElementById("desccription").innerHTML= post.description;
                if(post.visibility==="FRIENDS"){
                    document.getElementById("friends").checked=true;
                }
                else{
                    document.getElementById("public").checked=true;
                }
                if(post.unlisted===true){
                    document.getElementById("notlisted").checked=true;
                }
                else{
                    document.getElementById("listed").checked=true;
                }
                if(post.contentType==="text/plain"){
                    content_isText=true;
                    document.getElementById("textchoice").checked=true;
                    document.getElementById("inputcontenttext").removeAttribute("hidden");
                    document.getElementById("textcontent").removeAttribute("hidden");
                    document.getElementById("choosefiletext").hidden = true;
                    document.getElementById("filecontent").hidden=true;
                    document.getElementById("textcontent").value=post.content;
                }
                else{
                    content_isText=false;
                    document.getElementById("filechoice").checked=true;
                    document.getElementById("choosefiletext").removeAttribute("hidden");
                    document.getElementById("filecontent").removeAttribute("hidden");
                    document.getElementById("inputcontenttext").hidden=true;
                    document.getElementById("textcontent").hidden=true;
                }
            }) 
        for(element of document.getElementsByName("textorfile")){
            element.onclick = function(event){

            if(document.querySelector('input[name = "textorfile"]:checked').value ==="text"){
                content_isText=true;
                document.getElementById("inputcontenttext").removeAttribute("hidden");
                document.getElementById("textcontent").removeAttribute("hidden");
                document.getElementById("choosefiletext").hidden = true;
                document.getElementById("filecontent").hidden=true;
            }

            else{
                content_isText=false;
                document.getElementById("choosefiletext").removeAttribute("hidden");
                document.getElementById("filecontent").removeAttribute("hidden");
                document.getElementById("inputcontenttext").hidden=true;
                document.getElementById("textcontent").hidden=true;
                content = document.getElementById("filecontent");
                
            }
            }
        }

        function createPost(){
            var postTitle = document.getElementById("title").value;
            var postDesc = document.getElementById("description").value;
            var listedStatus = document.querySelector('input[name = "listedstatus"]:checked').value;
            var visibility = document.querySelector('input[name = "visibility"]:checked').value;
            if(listedStatus==="listed"){
                post.unlisted=false;
            }
            else{
                post.unlisted=true;
            }
            if(content_isText===true){
                encode_Content = document.getElementById("textcontent").value;
                post.content = encode_Content;
            }
            else{
                post.content = encode_Content;
            }
            
            post.visibility=visibility;
            post.title=postTitle;
            post.description=postDesc;
            var date = new Date()
            post.published = date.toISOString();
            post.content=encode_Content;
            categories = document.getElementById("postcat").value;
            if(categories===""){
                post.categories=[];
            }
            else{
                post.categories=categories.split(',');
            }
        }
        function sendMessage(){
            fetch(AuthorUrl,{
                method: 'get',
                headers: {
                        'Content-Type' : 'application/json',
                        'X-CSRFToken' : "{{ csrf_token }}"
                    },})
            .then(function(response){
                return response.json();
            })
            .then(function(authorObj){
                post.author = authorObj;
            })
            .then(function(){
                postString=JSON.stringify(post);
                return fetch(postUrl,{
                    method: 'post',
                    headers: {
                        'Content-Type' : 'application/json',
                        'X-CSRFToken' : "{{ csrf_token }}"
                    },
                    body: postString 

                })
            })
            .then(function(response){
                return response.json();
            })
            .then(function(data){    
                var urlofFollowers = 'http://127.0.0.1:8000/service'+'/authors/'+'{{author.id}}'+ '/followers';
                return fetch(urlofFollowers,{
                method: 'GET',
                headers: {
                    'Content-Type' : 'application/json',
                    'X-CSRFToken' : "{{ csrf_token }}"
                } 
                })
            })
            .then(function(response){
                return response.json();
            })
            .then(function(data){
                if(post.unlisted===false){
                    followersInJson = data["items"]["data"];
                    if(post.visibility === "FRIENDS"){
                        for(let follower of followersInJson){
                            var urlofFriend = 'http://127.0.0.1:8000/service'+'/authors/' + follower.id +'/followers/'+'{{ author.id }}';
                            fetch(urlofFriend,{
                                method: 'GET',
                                headers: {
                                'Content-Type' : 'application/json',
                                'X-CSRFToken' : "{{ csrf_token }}"
                                }, 
                            })
                            .then(function(response){
                                return response.json();
                            })
                            .then(function(data){
                                if(data.id==='{{ author.id }}'){ // if we both follow each other the current author will be returned
                                    var urlofInbox = 'http://127.0.0.1:8000/service'+'/author/' + follower.id +'/inbox';
                                    fetch(urlofInbox,{
                                        method: 'POST',
                                        headers: {
                                        'Content-Type' : 'application/json',
                                        'X-CSRFToken' : "{{ csrf_token }}"
                                        },
                                        body: postString 
                                    })
                                }

                            })
                            .catch (function (error) {
                                console.log('Request failed', error);
                            });
                        } 
                    }
                    else{
                        for(let follower of followersInJson){
                            var urlofInbox = 'http://127.0.0.1:8000/service'+"/authors/" + follower.id +'/inbox';
                            fetch(urlofInbox,{
                                method: 'POST',
                                headers: {
                                'Content-Type' : 'application/json',
                                'X-CSRFToken' : "{{ csrf_token }}"
                                },
                                body: postString 
                            })
                        } 
                    }
                }
            })
            .then(function(){
                if(post.unlisted===false){
                    alert("Successfully modified post and delivered to your followers! Redirecting you to posts page.");
                    location.href = 'http://127.0.0.1:8000/service'+'/site/posts';
                }
                else{
                    alert("Successfully modified post, since this was not listed it was not delivered to your followers! Redirecting you to posts page.");
                    location.href = 'http://127.0.0.1:8000/service'+'/site/posts';
                }
            })
            .catch (function (error) {
                console.log('Request failed', error);
            });
            
        }
            
        document.getElementById("submitbutton").onclick = function(){
            createPost();
            postString = JSON.stringify(post);
            postUrl = 'http://127.0.0.1:8000/service'+'/authors/'+'{{author.id}}' + "/posts/"+'{{post.id}}'+'/';
            AuthorUrl = 'http://127.0.0.1:8000/service'+'/authors/'+'{{author.id}}';
            if(content_isText===true){
                post.contentType = 'text/plain';
                postString = JSON.stringify(post);
                sendMessage();
            }
            else{
                function getBase64(file, onLoadCallback) {
                    return new Promise(function(resolve, reject) {
                        var reader = new FileReader();
                        reader.onload = function() { resolve(reader.result); };
                        reader.onerror = reject;
                        reader.readAsDataURL(file);
                    });
                }
                var file= content.files[0];
                post.contentType = file.type +';base64';
                var promise = getBase64(file);
                promise.then(function(result) {
                    encode_Content=result;
                    post.content=encode_Content;
                    postString = JSON.stringify(post);
                    sendMessage();
                });
            }
            
        };
    </script>
{% else %}
<p>Invalid credentials. Must be the original author to edit this post.</p>

{% endif %}
{% endblock %}