{% extends "author/base.html" %}

{% block title %}List of Posts{% endblock %}

{% block content %}
{% load markdownify %}

{% for post in posts %}

{% if not post.unlisted %}

{{ post.author.id }}

<a href="{{data.author.id}}inbox">link</a>

<div class="container">
    <div class="row justify-content-center">
        <div class="mt-3" >
            <div class="card" style="width: 50rem;">
                <div class="card-header text-black" style="background-color: #778899;">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title"> 
                                <a href="{{ post.id }}" style="color: black;">{{ post.title }}</a>
                            </h4>
                            <p style="font-size:medium"><strong>By </strong><a class="author-link" style="color:white" href="{{ post.author.id }}">{{ post.author.displayName }}</a></p>
                        </div>
                        <div class="col-3 pb-3">
                            {% if userAuthor and userAuthor.id == post.author.id %}
                            <div class="col pb-3">
                                <a href="https://team9-socialdistribution.herokuapp.com/editpost/{{post.id}}"><button class="btn btn-warning float-right" type="button" class="btn">Edit post</button></a>
                            </div>
                            <div class="col mt-4">
                                <a href="https://team9-socialdistribution.herokuapp.com/deletepost/{{post.id}}"><button class="btn btn-outline-light float-right" type="button" class="btn" onclick="return confirm('Are you sure?');">Delete post</button></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="card-body">
                    {% if post.contentType == "TXT" or  post.contentType == "TEXT" %}
                    <p class="field-label"></p>
                    <p>{{ post.content }}</p>

                    {% elif post.contentType != "text/plain" %}
                    <div class="post-image" style="background-image: url(/media/{{post.image}});"></div>
                    
                    {% elif post.contentType == "text/markdown" %}
                    <div class="postBody">{{ post.content | markdownify}}</div>
                    {% else %}
                    
                    <p class="field-label"></p>
                    <p>{{ post.content }}</p>
                    {% endif %}
                </div>
                
                <div class="card-footer">
                <div>
                    <button id="{{post.author.id}}" type="submit"  value = '{{post.id}}likes' name='{{post.author.id}}inbox'  
                    onclick="LikeFunction(value,name,id)" class="btn">Like</button>
                    <a href="{{post.id}}"><button type="button" class="btn">Comments</button></a>
                    <button type="button" class="btn" id="addcomment-{{post.id}}">Add comment</button>
                </div>
                
                
                <p class="field-label"><b>Comments: </b></p>
                <div id="comments-of-{{post.id}}">
                    {% for i in post.commentsSrc.comments  %}
                        <div class="comment">
                            {% if i %}
                            <p>
                                <a class="author-link" href="https://team9-socialdistribution.herokuapp.com/service/authors/{{ comment.author.id }}">{{ i.author.displayName }}</a>: {{i.comment}}
                            <span class="text-muted small float-right">Published: {{ i.published }}</span>
                            </p>
                            {% else %}
                            <p>No Comments</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <hr>
            </div>
            {% endif %}
        {% endfor %}

    </div>
</div>

<script>
    function CommentFunction(value,id){
        var forml = document.getElementById(id)
        const newform = new FormData(forml)
        const data = Object.fromEntries(newform)
        fetch(value, {
            method: 'POST',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}",
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(data)
        }).then(res => res.json());
    }
    function LikeFunction(value,inbox,title){
       
       fetch(value, {
           method: 'GET',
           headers: {
               'X-CSRFToken': "{{ csrf_token }}",
               'Content-Type': 'application/json',
           },
            
       }).then(res =>  res.json())
       .then(data =>  {
           if(data == 404){
              fetch(value, {
                   method: 'POST',
                   headers: {
               'X-CSRFToken': "{{ csrf_token }}",
               'Content-Type': 'application/json',
               },
           }).then(res =>  res.json())
           .then(item => {
                
               item.id = value;
               console.log("value")
               console.log(value)
               item.title = title;
               console.log("title")
               console.log(title)
               item.author_id = inbox;
               console.log("inbox")
               console.log(inbox)
               let result = {
                   type: "like",
                   data: item,
               };
                
               alert("Like has been send to the inbox of the post's author");
               fetch(inbox,{
                   method: 'POST',
                   headers: {
                   'X-CSRFToken' : "{{ csrf_token }}",
                   'Content-Type': 'application/json',
               },
               body: JSON.stringify(result)
           })
           })
       }
       })

        
   }

    function LikeCount(value,id){     
        fetch(value, {
            method: 'GET',
            headers: {
                'X-CSRFToken': "{{ csrf_token }}",
                'Content-Type': 'application/json',
            },
        }).then(res =>  res.json())
        .then(data => {
            appendData(data);
        });
        function appendData(data){
            document.getElementById(id).innerHTML = data.length;
        }
       
         
        }
    

    function showComment(value, id) {
        fetch(value)
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                console.log(data);
                appendData(data);
            })
            .catch(function (err) {
                console.log(err);
            });
        function appendData(data) {
            var main
            var mainContainer = document.getElementById(id);
            for (var i = 0; i < data.length; i++) {
                var div = document.createElement("div");
                div.innerHTML =  'Comment :' + data[i].comment + ' -by: ' + data[i].author.displayName + '<p><button onclick="myFunction()">Like</button>' 
                mainContainer.appendChild(div);
            }
        }
    }
</script>

    </div>
</div>
{% endblock %}