{% extends "author/base.html" %}

{% block title %}List of Posts{% endblock %}

{% block content %}

{% for post in posts %}

{% for data in post %}

{% if not data.unlisted %}

<div class="container">
    <div class="row justify-content-center">
        <div class="mt-3" >
            <div class="card" style="width: 50rem;">
                <div class="card-header text-black" style="background-color: #778899;">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title"> 
                                <a href="{{ post.id }}" style="color: black;">{{ data.title }}</a>
                            </h4>
                            <p style="font-size:medium"><strong>By </strong><a class="author-link" style="color:white" href="https://team9-socialdistribution.herokuapp.com/service/authors/{{ post.author.id }}">{{ data.author.displayName }}</a></p>
                        </div>
                        <div class="col-3 pb-3">
                            {% if userAuthor and userAuthor.id == post.author.id %}
                            <div class="col pb-3">
                                <a href="https://team9-socialdistribution.herokuapp.com/service/editpost/{{post.id}}"><button class="btn btn-warning float-right" type="button" class="btn">Edit post</button></a>
                            </div>
                            <div class="col mt-4">
                                <a href="https://team9-socialdistribution.herokuapp.com/service/deletepost/{{post.id}}"><button class="btn btn-outline-light float-right" type="button" class="btn" onclick="return confirm('Are you sure?');">Delete post</button></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                
                <div class="card-body">
                    {% if data.contentType == "TXT" or  data.contentType == "TEXT" %}
                    <p class="field-label"></p>
                    <p>{{ data.content }}</p>

                    {% elif data.contentType != "text/plain" %}
                    <div class="post-image" style="background-image: url(/media/{{post.image}});"></div>
                    
                    {% else %}
                    <p class="field-label"></p>
                    <p>{{ data.content }}</p>
                    {% endif %}
                </div>
                
                <div class="card-footer">
                <div>
                    <button id="{{post.id}}-like-button" type="submit" name="post_id" value="{{post.id}}" class="btn"><span id="like-count-{{post.id}}">{{data.numberOfLikes}}</span> | Like</button>
                    <a href="{{post.id}}"><button type="button" class="btn">Comments</button></a>
                    <button type="button" class="btn" id="addcomment-{{post.id}}">Add comment</button>
                </div>
                
                
                <p class="field-label"><b>Comments: </b></p>
                <div id="comments-of-{{post.id}}">
                    {% for i in data.commentsSrc.comments  %}
                        <div class="comment">
                            {% if i %}
                            <p>
                                <a class="author-link" href="https://team9-socialdistribution.herokuapp.com/service/authors/{{ comment.author.id }}">{{ i.author.displayName }}</a>: {{i.comment}}
                            <span class="text-muted small float-right">Published: {{ i.published }}</span>
                            </p>
                            {% else %}
                            <p>No Comments</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <hr>
                <hr>
            </div>
            {% endif %}
        {% endfor %}
        {% endfor %}

    </div>
</div>

    </div>
</div>
{% endblock %}