{% extends "author/base.html" %}


{% block content %}
    {% if user.is_authenticated and currentAuthor and currentAuthor.github %}
    <ul id="githubposts"></ul>
    <script>
        githubField = '{{currentAuthor.github}}';
        var user;
        var list = document.getElementById("githubposts");
        var garray = githubField.split("/");
        var username = garray[3];
        url = "https://api.github.com/users/" + username+"/events";
        fetch(url,{method: 'GET'
        })
        .then(function(response){
            return response.json();
        })
        .then(function(data){
            console.log(data);
            for(let post of data){
                h1 = document.createElement("h1");
                h1.textContent = "Type: " + post.type;
                li = document.createElement("li");
                li.textContent = "By " + post.actor.login + " at " +post.created_at + " on the repo: " + post.repo.name;
                list.appendChild(h1);
                list.appendChild(li);
            }
        })
    </script>
    {% else %}
    <p>No github activities are available.</p>
    {% endif %}
{% endblock %}