{% extends "author/base.html" %}

{% block title %}List of Posts{% endblock %}

{% block content %}
<p style="text-align: center">My Notifications</p>
{% if posts %}
{% for post in posts %}
<div class="container">
    <div class="row justify-content-center">
        <div class="mt-0">
            <div class="card" style="width: 50rem;">
                <div class="card-header text-black">
                    <div class="row">
                        <div class="col">
                            <li> {{ post.message }}</li><li style="text-align: right">{{ post.published|date:"Y-m-d H:i:s"}}</li>
                         </div>
                    {% if post.object_type == "follow" %}
                        <div class="col">
                                <button class="btn-info float-right mr-2" id="{{post.object_id}}" type="submit"  name='{{host}}/service/authors/{{post.object_id}}/inbox' value = '{{host}}/service/authors/{{request.user.id}}/followers/{{post.object_id}}' onclick=AcceptFollowFunction(value,name,id) >
                                    Accept  
                                </button>
                                <button class="btn-info float-right mr-2" id="{{request.user.id}}" type="submit"  name='{{host}}/service/authors/{{request.user.id}}/inbox' value = '{{host}}/service/authors/{{request.user.id}}/followrequest/{{post.object_id}}' onclick=DeclineFollowFunction(value,name,id) >
                                    Remove  
                                </button>
                        </div>
                    {%endif%}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
<script>
function AcceptFollowFunction(value,name,id){
    fetch(value, {
        method: 'PUT',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}",
            'Content-Type': 'application/json',
        },
    }).then(res => res.json())
      .then(item => {  
        item.id = id;
        item.title = id;
        item.author_id = name;
        let result = {
            type: "follow",
            data: item,
        };
       })
}
function DeclineFollowFunction(value,name,id){
    fetch(value, {
        method: 'DELETE',
        headers: {
            'X-CSRFToken': "{{ csrf_token }}",
            'Content-Type': 'application/json',
        },
    })
      .then(item => {  
        item.id = id;
        item.title = id;
        item.author_id = name;
        let result = {
            type: "follow",
            data: item,
        };
        alert("yes");
        fetch(name,{
            method: 'DELETE',
            headers: {
            'X-CSRFToken' : "{{ csrf_token }}",
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(result)
        })
      })
    
}

</script>
{% else %}
<p>No posts are available.</p>
{% endif %}
{% endblock %}
