{% extends "author/base.html" %}

{% block title %}List of Posts{% endblock %}

{% block content %}
<p style="text-align: center">Inbox</p>
{% if total %}
{% for post in total %}
<div class="container">
    <div class="row justify-content-center">
        <div class="mt-0">
            <div class="card" style="width: 50rem;">
                <div class="card-header text-black">
                    <div class="row">
                        <div class="col">
                            <li> {{ post.posts.message }}</li><li style="text-align: right">{{ post.posts.published|date:"Y-m-d H:i:s"}}</li><li>(content is){{post.postinfo.title}}</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p>No posts are available.</p>
{% endif %}
{% endblock %}




