{% extends "author/base.html" %}

{% block title %}List of Posts{% endblock %}

{% block content %}
{% load markdownify %}
{% if posts %}
{% for post in posts %}
<div class="container">
    <div class="row justify-content-center">
        <div class="mt-0">
            <div class="card" style="width: 50rem;">
                <div class="card-header text-black" style="background-color: #778899;">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">
                                <a href="{{host}}/site/{{post.id}}" style="color: black;">{{ post.title }}</a>
                            </h4>
                            <p style="font-size:medium"><strong>By </strong><a class="author-link" style="color:white" href="{{host}}/authors/{{ post.author.id }}">{{ post.author.displayName }}</a></p>
                        </div>
                        <div class="col-3 pb-3">
                            {% if userAuthor and userAuthor.id == post.author.id %}
            
                            <div class="col pb-3">
                                <a href="{{host}}/editpost/{{post.id}}"><button
                                        class="btn btn-light float-right" type="button" class="btn">Edit
                                        post</button></a>
                            </div>
                            <div class="col mt-4">
                                <a href="{{host}}/deletepost/{{post.id}}"><button
                                        class="btn btn-outline-light float-right" type="button" class="btn"
                                        onclick="return confirm('Are you sure?');">Delete post</button></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>


                <div class="card-body">
                    <p class="field-label"><strong>Description: </strong>{{post.description}}</p>
                    {% if post.contentType == "text/plain" %}
                    <p class="field-label"></p>
                    <p>{{post.content}}</p>
                    {% elif post.contentType == "text/markdown" %}
                    <div class="postBody">{{ post.content | markdownify}}</div>
                    {% else %}
                    <div class="post-image">
                        <img src='{{host}}{{ post.image.url }}' alt="Post image" style = "height: 290px; width: 290px; border-radius: 15px; margin-top: 10px;" />
                    </div>
                    {% endif %}
                </div>

            

                <div class="card-footer">
                    <!-- Like Button -->
                        <!-- TODO: Better CSS for Like Button -->
                        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

                    <div class="mr-0">
                        <button id="count-{{post.id}}" type="submit" name="{{post.id}}" value = '{{host}}/service/authors/{{request.user.id}}/posts/{{post.id}}/getalllikes'
                        onclick="LikeCount(value,id)" class="btn" style="margin-right: 0%">Like |</button> 
                       

                        <button id="{{post.author.id}}" type="submit"  value = '{{host}}/service/authors/{{request.user.id}}/posts/{{post.id}}/likes' name='{{host}}/service/authors/{{request.user.id}}/inbox'  
                        onclick="LikeFunction(value,name,id)" class="btn" style="margin-right: 0%">👍</button> 

                    </div>
                        
                        
                        <div class="comment-input-div">
                            <div class="d-flex justify-content-between">
                            <form id= "form-{{post.id}}" class="form" style="width: 70%;">
                                <input type="text" name="comment"  class="form-control mr-0"
                                    placeholder="Write a comment..."  style="width: 100%;">
                            </form>
                            <br>
                            <div class="d-flex justify-content-between ">
                            <button type="submit" id= "form-{{post.id}}" value = '{{host}}/service/authors/{{request.user.id}}/posts/{{post.id}}/comments' name='{{host}}/service/authors/{{request.user.id}}/inbox' 
                            class="btn btn-outline-dark btn-sm float-right" onclick="CommentFunction(value,id,name)"
                            style="height: 80%;">Submit</button>
                        
                        <button name = "demo-{{post.id}}" value = '{{host}}/service/authors/{{post.author.id}}/posts/{{post.id}}/comments' onclick="showComment(value, name)" 
                        class="btn btn-warning btn-sm float-right" style="height:80%; margin-left: 10px;">
                        Show Comments</button>
                        </div>
                        </div>
                        </div>
                        <p id="demo-{{post.id}}" value = '{{host}}/service/authors/{{post.author.id}}/posts/{{post.id}}/comments' onclick="showComment(value, id)"></p>
                    </div>
                </div>

                <br>
            </div>
           
        </div>
        <script>
            function CommentFunction(value,id,name){
                var forml = document.getElementById(id)
                const newform = new FormData(forml)
                const data = Object.fromEntries(newform)
                var response;
                fetch(value, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                }).then(res => res.json()) 
                .then(item => {
                console.log(item)
                fetch(name, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(item)
                })
                }).then(function(){
                    alert("A new comment is successfully created! Redirecting you to post-list page...");
                    location.href = '{{host}}'+'/site/posts';
                })
            }
            function LikeFunction(value,inbox,title){
               
               fetch(value, {
                   method: 'GET',
                   headers: {
                       'X-CSRFToken': "{{ csrf_token }}",
                       'Content-Type': 'application/json',
                   },
                    
               }).then(res =>  res.json())
               .then(data =>  {
                   if(data == 404){
                      fetch(value, {
                           method: 'POST',
                           headers: {
                       'X-CSRFToken': "{{ csrf_token }}",
                       'Content-Type': 'application/json',
                       },
                   }).then(res =>  res.json())
                   .then(item => {
                        
                       item.id = value;
                       item.title = title;
                       item.author_id = inbox;
                       let result = {
                           type: "like",
                           data: item,
                       };
                        
                       alert("You have liked the post");
                       fetch(inbox,{
                           method: 'POST',
                           headers: {
                           'X-CSRFToken' : "{{ csrf_token }}",
                           'Content-Type': 'application/json',
                       },
                       body: JSON.stringify(result)
                   })
                   })
               }
               })
     
                
           }

            function LikeCount(value,id){     
                fetch(value, {
                    method: 'GET',
                    headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                        'Content-Type': 'application/json',
                    },
                }).then(res =>  res.json())
                .then(data => {
                    appendData(data);
                });
                function appendData(data){
                    document.getElementById(id).innerHTML = data.length;
                }
               
                 
                }
            
        
            function showComment(value, id) {
                fetch(value)
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        console.log(data);
                        appendData(data);
                    })
                    .catch(function (err) {
                        console.log(err);
                    });
                function appendData(data) {
                    var main
                    var mainContainer = document.getElementById(id);
                    for (var i = 0; i < data.length; i++) {
                        var div = document.createElement("div");
                        id = data[i].id
                        tmpList = id.split("/")
                        linkId = tmpList[tmpList.length - 1]
                        postID =data[i].post.id
                        // alert(postID)
                        div.innerHTML = data[i].author.displayName +':'+" "+"  "+ data[i].comment + '<span><button name = "demo-{{post.id}}" value = \'{{host}}/service/authors/'+ linkId +'/posts/' + postID + '/comments\' name=\'{{host}}/service/authors/{{request.user.id}}/inbox\' onclick="myFunction(value,name)" class="btn">👍</button>'
                        mainContainer.appendChild(div);
                    }
                }
            }
            function myFunction(value) {
            var bodydata = {"type":"comment like"};
            fetch(value, {
                method: 'POST',
                body: JSON.stringify(bodydata),
                headers: {
                    'X-CSRFToken': "{{ csrf_token }}",
                    'Content-Type': 'application/json',
                },
            }).then(res => res.json())

        }
        </script>
 
{% endfor %}

{% else %}
<div class="row justify-content-center">
    <div class="mt-0">
        
<h6>No posts are available.</h6>
        </div>
    
</div>
{% endif %}

</div>
</div>
{% endblock %}




    