{% extends "author/base.html" %}

{% block title %}List of Posts{% endblock %}

{% block content %}
{% load markdownify %}
{% if posts %}
{% for post in posts %}
<div class="container">
    <div class="row justify-content-center">
        <div class="mt-0">
            <div class="card" style="width: 50rem;">
                <div class="card-header text-black" style="background-color: #778899;">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">
                                <a href="{{ post.id }}" style="color: black;">{{ post.title }}</a>
                            </h4>
                            <p style="font-size:medium"><strong>By </strong><a class="author-link" style="color:white" href="{{host}}/authors/{{ post.author.id }}">{{ post.author.displayName }}</a></p>
                        </div>
                        <div class="col-3 pb-3">
                            {% if userAuthor and userAuthor.id == post.author.id %}
            
                            <div class="col pb-3">
                                <a href="{{host}}/editpost/{{post.id}}"><button
                                        class="btn btn-warning float-right" type="button" class="btn">Edit
                                        post</button></a>
                            </div>
                            <div class="col mt-4">
                                <a href="{{host}}/deletepost/{{post.id}}"><button
                                        class="btn btn-outline-light float-right" type="button" class="btn"
                                        onclick="return confirm('Are you sure?');">Delete post</button></a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <hr>

                <div class="card-body">
                    <p class="field-label"><strong>Description: </strong>{{post.description}}</p>
                    {% if post.contentType == "text/plain" %}
                    <p class="field-label"></p>
                    <p>{{post.content}}</p>
                    {% elif post.contentType == "text/markdown" %}
                    <div class="postBody">{{ post.content | markdownify}}</div>
                    {% else %}
                    <div class="post-image">
                        <img src='{{host}}/service{{ post.image.url }}' alt="Post image" style = "height: 290px; width: 290px; border-radius: 15px; margin-top: 10px;" />
                    </div>
                    {% endif %}
                </div>

                <hr>

                <div class="card-footer">
                    <div>
                        <p>request.user.id</p>
                        {{request.user.id}}
                        <p>value</p>
                        {{host}}/service/authors/{{request.user.id}}/posts/{{post.id}}/likes
                        <p>inbox</p>
                        {{host}}/service/authors/{{request.user.id}}/inbox
                        
                        <button id="{{post.author.id}}" type="submit"  value = '{{host}}/service/authors/{{request.user.id}}/posts/{{post.id}}/likes' name='{{host}}/service/authors/{{request.user.id}}/inbox'  
                        onclick="LikeFunction(value,name,id)" class="btn">Like</button>
                        
                        <button id="count-{{post.id}}" type="submit" name="{{post.id}}" value = '{{host}}/service/authors/{{request.user.id}}/posts/{{post.id}}/getalllikes'
                        onclick="LikeCount(value,id)" class="btn">Like: Count</button>
                        <div class="comment-input-div">
                            <form id= "form-{{post.id}}" class="form">
                                <input type="text" name="comment" class="comment-input"
                                    placeholder="Write a comment..." >
                            </form>
                            <button type="submit" id= "form-{{post.id}}" value = '{{host}}/service/authors/{{request.user.id}}/posts/{{post.id}}/comments' name='{{host}}/service/authors/{{request.user.id}}/inbox' class="btn btn-primary" onclick="CommentFunction(value,id,name)">Submit</button>
                        </div>
                        <button name = "demo-{{post.id}}" value = '{{host}}/service/authors/{{post.author.id}}/posts/{{post.id}}/comments' onclick="showComment(value, name)">Show Comments</button>
                        <p id="demo-{{post.id}}" value = '{{host}}/service/authors/{{post.author.id}}/posts/{{post.id}}/comments' onclick="showComment(value, id)"></p>
                    </div>
                </div>
            </div>
        </div>
        <script>
            function CommentFunction(value,id,name){
                var forml = document.getElementById(id)
                const newform = new FormData(forml)
                const data = Object.fromEntries(newform)
                var response;
                fetch(value, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data)
                }).then(res => res.json()) 
                .then(item => {
                console.log(item)
                fetch(name, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(item)
                })
                }).then(function(){
                    alert("A new comment is successfully created! Redirecting you to post-list page...");
                    location.href = '{{host}}'+'/site/posts';
                })
            }
            function LikeFunction(value,inbox,title){
               
               fetch(value, {
                   method: 'GET',
                   headers: {
                       'X-CSRFToken': "{{ csrf_token }}",
                       'Content-Type': 'application/json',
                   },
                    
               }).then(res =>  res.json())
               .then(data =>  {
                   if(data == 404){
                      fetch(value, {
                           method: 'POST',
                           headers: {
                       'X-CSRFToken': "{{ csrf_token }}",
                       'Content-Type': 'application/json',
                       },
                   }).then(res =>  res.json())
                   .then(item => {
                        
                       item.id = value;
                       item.title = title;
                       item.author_id = inbox;
                       let result = {
                           type: "like",
                           data: item,
                       };
                        
                       alert("yes");
                       fetch(inbox,{
                           method: 'POST',
                           headers: {
                           'X-CSRFToken' : "{{ csrf_token }}",
                           'Content-Type': 'application/json',
                       },
                       body: JSON.stringify(result)
                   })
                   })
               }
               })
     
                
           }

            function LikeCount(value,id){     
                fetch(value, {
                    method: 'GET',
                    headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                        'Content-Type': 'application/json',
                    },
                }).then(res =>  res.json())
                .then(data => {
                    appendData(data);
                });
                function appendData(data){
                    document.getElementById(id).innerHTML = data.length;
                }
               
                 
                }
            
        
            function showComment(value, id) {
                fetch(value)
                    .then(function (response) {
                        return response.json();
                    })
                    .then(function (data) {
                        console.log(data);
                        appendData(data);
                    })
                    .catch(function (err) {
                        console.log(err);
                    });
                function appendData(data) {
                    var main
                    var mainContainer = document.getElementById(id);
                    for (var i = 0; i < data.length; i++) {
                        var div = document.createElement("div");
                        div.innerHTML =  'Comment :' + data[i].comment + ' -by: ' + data[i].author.displayName + '<p><button onclick="myFunction()">Like</button>' 
                        mainContainer.appendChild(div);
                    }
                }
            }
        </script>
    </div>
</div>
{% endfor %}
{% else %}
<p>No posts are available.</p>
{% endif %}
{% endblock %}




    